In [35]:
import MySQLdb
import cv2
import requests
import urllib.parse
from bs4 import BeautifulSoup

connection = MySQLdb.connect(host = "127.0.0.1" , user = "root" , password = "zxcv2587" , db = 'test' , charset = 'utf8') 

cursor = connection.cursor()

cursor.execute('SELECT * FROM test.idols')

q = cursor.fetchall()

for i in range(0 , 54):
    print(q[i])
    name = q[i][2]
    cursor.execute('UPDATE `test`.`cards` SET `idol_id` = %s WHERE `idol` = %s' , (i + 1 , name , ))

    










connection.commit()
cursor.close()
connection.close()

print('s')

(1, '天海春香', '天海春香', 'PRINCESS', None, None)

ProgrammingError: not all arguments converted during bytes formatting