In [9]:
import MySQLdb
import cv2
import requests
import urllib.parse
from bs4 import BeautifulSoup
from urllib.parse import urljoin
import datetime

time1 = datetime.datetime.now()



connection = MySQLdb.connect(host = "127.0.0.1" , user = "root" , password = "zxcv2587", db = 'test' , charset = 'utf8') 
cursor = connection.cursor()

cursor.execute('SELECT `id` , `name_jp` , `name_tw` FROM `test`.`events` WHERE type = %s OR type = %s' , ('tour' , 'theater'))
events = cursor.fetchall()

cursor.execute('SELECT `id` , `name_jp` , `name_tw` FROM `test`.`songs` WHERE get_song_type = %s' , ('App\Event' , ))
songs = cursor.fetchall()

for event in events:
    print(event)
    
    for song in songs:
        if(event[1].find(song[1]) != -1):
            print(song)
            cursor.execute('UPDATE `test`.`events` SET `name_tw` = REPLACE(`name_tw` , %s , %s) WHERE id = %s' , 
                           (song[1] , song[2] , event[0] ))
            cursor.execute('UPDATE `test`.`songs` SET `get_song_id` = %s WHERE id = %s' , 
                           (event[0] , song[0] ))    










connection.commit()
cursor.close()
connection.close()
time2 = datetime.datetime.now()
print(time1)
print(time2)
print('papara')

(102, 'プラチナスターツアー～Princess Be Ambitious！！～ ', '白金星光巡演～Princess Be Ambitious！！～ ')
(104, 'プラチナスターシアター ～ドリームトラベラー～', '白金星光劇場 ～ドリームトラベラー～')
(27, 'ドリームトラベラー', '夢想旅行者')

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line 1")